*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card-image {
  width: 100%;
  height: auto;
}

.header {
  .logo {
    padding: 15px 0;
    img {
      height: 40px;
    }
    h2 {
      color: #333;
    }
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.dark {
  .header .logo h2 {
    color: #999;
  }
}
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: chartreuse;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  svg {
    font-size: 14px;
  }
}
.slider-left {
  left: 10px;
}
.slider-right {
  right: 10px;
}
.slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.light {
  background: #efefef;
}
.MuiFormControlLabel-root {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100000;
  position: fixed;
  background: #3e3e3ee3;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
.loading.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s;
}
.header-link {
  font-size: 16px;
  font-weight: 900;
  color: #b5ffab;
  margin-right: 20px;
  &:hover {
    color: #91dd87;
  }
}

.light.dark {
  .header-link {
    color: #333 !important;
  }
}
@media (max-width: 576px) {
  .header-content {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
  }
}
#__next {
  min-height: 100vh;
}
