$primary-color: #ddd;
$dark-gray: #333;
$light-gray: #777;

* {
  margin: 0;
  padding: 0;
}
.my-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  border: 2px solid #ccc;
  margin: 20px;
  border-radius: 5px;
  a {
    margin: 0 10px;
  }
}
.full-page {
  display: flex;
}
.side-menu {
  width: 240px;
  box-shadow: 4px 0px 10px #ccc;
  min-height: 100vh;
  .side-logo {
    h2 {
      color: $dark-gray;
      text-align: center;
      padding: 10px 0;
    }
  }
}
.owner-info {
  padding: 0 15px;
}
.side-content {
  margin-top: 15px;
}
